* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}
.card-container {
  perspective: 1000px;
}
.card {
  width: 380px;
  height: 230px;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card:hover {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 28px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card-front {
  background: black;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-back {
  background: #f0f0f0;
  padding: 25px;
  transform: rotateY(180deg);
}

header,
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 48px;
  margin-right: 10px;
}
h5 {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
header .chip {
  width: 60px;
}
h6 {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
}
h5.number {
  margin-top: 4px;
  font-size: 18px;
  letter-spacing: 1px;
}
h5.name {
  margin-top: 20px;
}
.card-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 40px;
}

.black-strip {
  width: 100%;
  height: 40px;
  background: black;
  margin-bottom: 20px;
}
.cvv-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e0e0e0;
  padding: 10px;
  border-radius: 4px;
}
.cvv-section h6 {
  color
